@{
    ViewData["Title"] = "Yönetim";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h1 class="fs-3 mb-3">Yönetim</h1>
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <p class="text-secondary mb-0">Bu sayfa yönetim ekranı için ayrıldı. Ayarlar, roller veya sistem parametrelerini burada toplayabilirsin.</p>
                </div>
            </div>
        </div>
    </div>
</div>
