@using Muhasebe.Common.Enums
@model string
@{
    var (css, text) = Model switch
    {
        nameof(DurumEnum.Bekliyor) => ("bg-warning-subtle text-warning border-warning", "Bekliyor"),
        nameof(DurumEnum.Onaylandi) => ("bg-success-subtle text-success border-success", "Onaylandı"),
        nameof(DurumEnum.Reddedildi) => ("bg-danger-subtle text-danger border-danger", "Reddedildi"),
        nameof(DurumEnum.IptalEdildi) => ("bg-secondary-subtle text-secondary border-secondary", "İptal"),
        _ => ("bg-light text-secondary border", Model ?? "Belirsiz")
    };
}
<span class="badge @css border">@text</span>
