@{
    ViewData["Title"] = "Gizlilik";
}
<div class="container-fluid">
    <h1 class="fs-3 mb-3">@ViewData["Title"]</h1>
    <p class="text-secondary">Proje için gizlilik metnini buraya ekleyebilirsin.</p>
</div>
