<div class="modal fade" id="personelEkleModal" tabindex="-1" aria-labelledby="personelEkleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="personelEkleLabel">Personel ekle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate method="post" asp-controller="Departman" asp-action="Personelim">
                    <div class="mb-3">
                        <label class="form-label" for="pAd">Ad soyad</label>
                        <input class="form-control" id="pAd" name="adSoyad" type="text" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="pMail">E-posta</label>
                        <input class="form-control" id="pMail" name="email" type="email" required />
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
